select {
    font-family: inherit;
    font-size: calc(100% - 0.1vw);
}

input {
    font-family: inherit;
    font-size: calc(100% - 0.1vw);
}

.intro {
    border-radius: 0.2vw;
    font-size: 1.5vw;
    font-family: Helvetica;
    max-width: 85%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 2%;
    text-align: justify;
    display: none;
    position: relative;
}

.column {
    float: left;
    width: 50%;
}

.row {
    padding: 2vw 5vw;
    line-height: 150%;
    border: dotted;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.en_clss, .ru_clss {
    display: none;
}

input[type='radio'] {
    transform: scale(1.5);
}

#ic {
    color: Black;
    overflow: scroll;
    background-color: #A9A9A9;
    overflow-x: hidden;
    max-height: 70%;
    width: 95%;
    padding: 1%;
    margin: 0;
    position: absolute;
    text-align: left;
    font-size: 1.3vw;
    top: 52%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.intro_button {
    font-size: 1.8vw;
    text-decoration: none;
    position: relative;
}

.maintext {
    font-family: Helvetica;
    border-radius: 0.4vw;
    height: 0;
    width: 50%;
    padding-bottom: 20%;
    margin: 0;
    position: absolute;
    text-align: left;
    font-size: 1.5vw;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    background: #FFFFFF;
    display: none;
}

.maintext_alt {
    font-family: Helvetica;
    border-radius: 0.4vw;
    padding-bottom: 5%;
    margin: 0;
    position: relative;
    text-align: left;
    font-size: 1.5vw;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    background: #FFFFFF;
    display: none;
    width: 85%;
}

.main_instr {
    font-family: Helvetica;
    border-radius: 0.4vw;
    width: 94%;
    position: relative;
    text-align: justify;
    font-size: 1.5vw;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    background: #FFFFFF;
    display: none;
    left: 50%;
    transform: translateX(-50%)
}

.main_button {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5%;
    font-family: Helvetica;
    color: #e6e6e6;
    background: #333333;
    font-size: 2.2vw;
    padding: 1.5%;
    text-decoration: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.main_button:hover {
    background: #1a1a1a;
    text-decoration: none;
}

.main_button_instr {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5%;
    font-family: Helvetica;
    color: #e6e6e6;
    background: #595959;
    font-size: 1.8vw;
    padding-bottom: 0.3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.3%;
    text-decoration: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.main_button_instr:hover {
    background: #262626;
    text-decoration: none;
}

#start_text {
    text-align: center;
    font-size: 3vw;
    width: 70%;
    position: fixed;
    margin: 0;
    top: 88%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #ff0000;
}

#stimulus {
    font-size: 3vw;
    font-family: Arial !important;
    text-align: center;
    color: #FFFFFF;
    font-weight: bolder;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#label_top {
    text-align: center;
    font-size: 2.5vw;
    width: 60%;
    position: fixed;
    margin: 0;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#label_left {
    width: 30%;
    text-align: center;
    font-size: 2.25vw;
    position: fixed;
    top: 75%;
    left: 20%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#label_right {
    width: 30%;
    text-align: center;
    font-size: 2.25vw;
    position: fixed;
    top: 75%;
    left: 80%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#tooslow {
    width: 30%;
    color: #ff080a;
    text-align: center;
    font-size: 4.0vw;
    position: fixed;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: none;
    left: 50%;
    top: 60%;
}

#false {
    width: 30%;
    color: #ff080a;
    text-align: center;
    font-size: 4.0vw;
    position: fixed;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: block;
    left: 50%;
    top: 20%;
    left: 50%;
    top: 60%;
    display: none;
}

#div_cit_main {
    font-family: "Arial";
    color: #FFFFFF;
    display: none;
}

.words0 {
    text-transform: capitalize;
    font-size: 1.7vw;
    cursor: pointer;
    width: 24%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 20%;
    text-align: center;
}

.words1 {
    text-transform: capitalize;
    font-size: 1.7vw;
    cursor: pointer;
    width: 15%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 48%;
    text-align: center;
}

.words2 {
    text-transform: capitalize;
    font-size: 1.7vw;
    cursor: pointer;
    width: 15%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 75%;
    text-align: center;
}

.words0.turnedon {
    font-weight: bold;
}

.words1.turnedon {
    font-weight: bold;
}

.words2.turnedon {
    font-weight: bold;
}

#div_lextale_intro, #div_lex_main {
    font-size: 2.3vw;
    padding: 0 10vw;
    background-color: #FFFFFF;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#div_lex_main {
    background-color: #FFFFFF;
    height: 96vh;
    width: 78%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    position: fixed;
}

#lexstim {
    font-size: 4vw;
    color: #000000;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    position: fixed;
    top: 41%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}

.reminder {
    font-style: italic;
    font-weight: normal !important;
}

.lexresp_left {
    left: 43%;
    background-color: #ff0000;
}

.lexresp_right {
    left: 57%;
    background-color: #00ff00;
}

.lexresp_buttons {
    font-size: 3.5vw;
    top: 65%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-align: center;
    position: fixed;
    height: 8vw;
    width: 12vw;
}

#scale_div {
    width: 600px;
    margin: 0 auto;
    display: none;
    font-size: 130%;
    text-align: center;
}

.longtext {
    text-align: justify;
    line-height: 150%;
}

#scale_container {
    position: relative;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.8vw;
    background: #555555;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.8vw;
    height: 3.8vw;
    background: #000000;
    cursor: pointer;
}

.slider_hide_thumb::-webkit-slider-thumb {
    width: 0;
    visibility: hidden;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.8vw;
    height: 3.8vw;
    background: #000000;
    cursor: pointer;
}

.slider_hide_thumb::-moz-range-thumb {
    width: 0;
    visibility: hidden;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 2px;
    background: #777777;
    height: 1.2vw;
    line-height: 5.8vw;
    margin: 0 0 5.0vw 0;
}
